
# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore VSCode workspace files
*.code-workspace

# Ignore everything by default
*

# But not these files/folders
!.gitignore
!README.md
!images/
!images/*

# Keep the src and tests folders and their contents
!src/
!src/**/*.py
!tests/
!tests/**/*.py
!requirements.txt

